## M.Qasim Shafiq
## Day 3
## Task1

In [4]:
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import Request, urlopen
url = "https://www.daftlogic.com/information-appliance-power-consumption.htm"
req = Request(url=url, headers={'User-Agent': 'Mozilla/5.0'})
page = urlopen(req).read()
dat = BeautifulSoup(page, 'html.parser')
table = dat.find('table', id="tblApp")

In [6]:
df = pd.read_html(str(table))[0]
df.head()

,Appliance,Minimum,Maximum,Standby,Other Name(s),References,Notes
0,100W light bulb (Incandescent),100W,100W,0W,NaN,[1],NaN
1,22 Inch LED TV,17W,17W,0.5W,NaN,NaN,NaN
2,"25"" colour TV",150W,150W,NaN,NaN,NaN,NaN
3,"3"" belt sander",1000W,1000W,NaN,NaN,NaN,NaN
4,32 Inch LED TV,20W,60W,1W,NaN,NaN,NaN

In [7]:
## SAVE TO CSV
df.to_csv("appliances.csv")

## Task 2

In [9]:
## Import Data
df = pd.read_csv("iris.csv")

In [13]:
## Average sepal length for each species
avg = df.groupby('Species')['SepalLengthCm'].mean()
avg

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [16]:
## Correlation between sepal length and petal length
cor = df['SepalLengthCm'].corr(df['PetalLengthCm'])
cor

0.8717541573048714

In [20]:
## Species of iris with the largest petals
larg = df.groupby('Species')['PetalLengthCm'].max()
larg

Species
Iris-setosa        1.9
Iris-versicolor    5.1
Iris-virginica     6.9
Name: PetalLengthCm, dtype: float64

In [22]:
## Iris-virginica has the largest petals
larg.idxmax()

'Iris-virginica'